body
{
    background-image: url(assets/background.png);
    color: white;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: space-around;
    
}
button img 
{
    width: 200px;
    height: 250px;
    outline: none;
    background-color: transparent;
    
}
#buttons button
{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

button img:hover
{
    width: 250px;
    height: 300px

}